/* Add your rule here */

h2 + h4 {
    color: CadetBlue;
}

/* Add your rule ABOVE this line */

h2 {
    background-color: SteelBlue;
}

h1 {
    background-color: #a679d2;
}

body {
    background-color: PaleGoldenRod;
}
